In [3]:
import pandas as pd
import os

# Define directory and file name
directory = r'C:/Users/dmarc/Desktop/EWELD_Project/EWELD/Weather Data/'
file_name = 'W2.csv'
file_path = os.path.join(directory, file_name)

# Load the DataFrame from the pickle file
df_W2 = pd.read_csv(file_path)

In [4]:
df_W2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274751 entries, 0 to 274750
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Time             274751 non-null  object
 1   Temperature(F)   274751 non-null  float64
 2   Dew Point(F)     274751 non-null  float64
 3   Humidity(%)      274751 non-null  float64
 4   Wind             274751 non-null  object
 5   Wind Speed(mph)  274751 non-null  float64
 6   Wind Gust(mph)   274751 non-null  float64
 7   Pressure(in)     274751 non-null  float64
 8   Condition        0 non-null       float64
dtypes: float64(7), object(2)
memory usage: 18.9+ MB

In [7]:
df_W2.shape

(274751, 9)

In [5]:
df_W2.describe()

,Temperature(F),Dew Point(F),Humidity(%),Wind Speed(mph),Wind Gust(mph),Pressure(in),Condition
count,274751.000000,274751.000000,274751.000000,274751.000000,274751.000000,274751.000000,0.0
mean,74.380830,66.749966,78.526514,7.841047,0.139472,29.780936,NaN
std,10.013615,11.599902,14.013796,3.901274,1.716993,0.337991,NaN
min,29.920000,12.030000,20.970000,0.000000,0.000000,28.210000,NaN
25%,67.097500,59.510000,70.070000,4.885833,0.000000,29.540000,NaN
50%,76.416667,69.660000,80.840000,7.502500,0.000000,29.780000,NaN
75%,82.082500,76.470000,88.930000,10.022500,0.000000,30.020000,NaN
max,98.810000,92.250000,101.960000,58.060000,65.890000,30.890000,NaN

In [8]:
df = df_W2.copy()

### W2 = CT2
take file name remove extension  add additional column name

In [ ]:
# Remove the .csv extension
location_name = os.path.splitext(file_name)[0]
# change received W2 to CT2
city_name = location_name.replace(location_name, 'CT2')
df['City'] = city_name
print(df.head())

                  Time  Temperature(F)  Dew Point(F)  Humidity(%) Wind  \
0  2015-01-01 00:00:00           54.34         46.47        75.22  ENE
1  2015-01-01 00:15:00           54.34         46.47        75.22  ENE
2  2015-01-01 00:30:00           54.34         46.47        75.22  ENE
3  2015-01-01 00:45:00           54.34         46.47        75.22  ENE
4  2015-01-01 01:00:00           54.34         46.47        75.22  ENE

   Wind Speed(mph)  Wind Gust(mph)  Pressure(in)  Condition City
0             10.9             0.0         29.82        NaN  CT2
1             10.9             0.0         29.82        NaN  CT2
2             10.9             0.0         29.82        NaN  CT2
3             10.9             0.0         29.82        NaN  CT2
4             10.9             0.0         29.82        NaN  CT2

In [10]:
# Prepare final df
selected_columns = [
    'Time',
    'Temperature(F)',
    'Dew Point(F)',
    'Humidity(%)',
    'Wind Speed(mph)',
    'Pressure(in)',
    'City'
]
df_weather_CT2 = df[selected_columns].copy()
print(df_weather_CT2.head())

                  Time  Temperature(F)  Dew Point(F)  Humidity(%)  \
0  2015-01-01 00:00:00           54.34         46.47        75.22
1  2015-01-01 00:15:00           54.34         46.47        75.22
2  2015-01-01 00:30:00           54.34         46.47        75.22
3  2015-01-01 00:45:00           54.34         46.47        75.22
4  2015-01-01 01:00:00           54.34         46.47        75.22

   Wind Speed(mph)  Pressure(in) City
0             10.9         29.82  CT2
1             10.9         29.82  CT2
2             10.9         29.82  CT2
3             10.9         29.82  CT2
4             10.9         29.82  CT2

In [13]:
df_weather_CT2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274751 entries, 0 to 274750
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Time             274751 non-null  object
 1   Temperature(F)   274751 non-null  float64
 2   Dew Point(F)     274751 non-null  float64
 3   Humidity(%)      274751 non-null  float64
 4   Wind Speed(mph)  274751 non-null  float64
 5   Pressure(in)     274751 non-null  float64
 6   City             274751 non-null  object
dtypes: float64(5), object(2)
memory usage: 14.7+ MB

### Fahrenheit to Celsius formula
(°F – 32) x 1.8 = °C

In [14]:
def f_fromFtoC(x):
    return (x - 32) / 1.8

df_weather_CT2['Temperature(C)'] = df_weather_CT2['Temperature(F)'].apply(f_fromFtoC)

In [16]:
print(df_weather_CT2.columns)

Index(['Time', 'Temperature(F)', 'Dew Point(F)', 'Humidity(%)',
       'Wind Speed(mph)', 'Pressure(in)', 'City', 'Temperature(C)'],
      dtype='object')

In [23]:
df_weather_CT2.drop('Temperature(F)', axis = 1, inplace=True)

Round Temperature(C) to 2 decimal places

In [ ]:
df_weather_CT2['Temperature(C)'] = df_weather_CT2['Temperature(C)'].round(2)

In [25]:
df_weather_CT2

,Time,Dew Point(F),Humidity(%),Wind Speed(mph),Pressure(in),City,Temperature(C)
0,2015-01-01 00:00:00,46.47,75.22,10.900000,29.82,CT2,12.41
1,2015-01-01 00:15:00,46.47,75.22,10.900000,29.82,CT2,12.41
2,2015-01-01 00:30:00,46.47,75.22,10.900000,29.82,CT2,12.41
3,2015-01-01 00:45:00,46.47,75.22,10.900000,29.82,CT2,12.41
4,2015-01-01 01:00:00,46.47,75.22,10.900000,29.82,CT2,12.41
...,...,...,...,...,...,...,...
274746,2022-11-01 22:30:00,62.64,86.15,15.213333,29.87,CT2,18.92
274747,2022-11-01 22:45:00,62.46,85.44,15.621667,29.85,CT2,18.96
274748,2022-11-01 23:00:00,62.29,84.73,16.030000,29.83,CT2,19.01
274749,2022-11-01 23:15:00,62.29,84.73,16.030000,29.83,CT2,19.01
274750,2022-11-01 23:30:00,62.29,84.73,16.030000,29.83,CT2,19.01

In [26]:
import os
import pandas as pd

# to write file
directory = r'C:/Users/dmarc/Desktop/EWELD_Project/EWELD/'
file_path = os.path.join(directory, 'weather_CT2_Celsius.csv')

# Create the directory if it does not exist
os.makedirs(directory, exist_ok=True)

# Save the DataFrame to a CSV file (without the index column)
df_weather_CT2.to_csv(file_path, index=False)