In [2]:
import os

filepath = 'C:/Users/dmarc/Desktop/EWELD_Project/EWELD/Weather Data/'
sections = os.listdir(filepath)
sections.sort()
print(sections)  # This prints all section folders

['Typhoon data.xlsx', 'W1.csv', 'W2.csv', 'W3.csv']

In [3]:
import pandas as pd
pd.set_option('display.width', 600)
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 30)

In [1]:
import pandas as pd
import os

# Define directory and file name
directory = r'C:/Users/dmarc/Desktop/EWELD_Project/EWELD/Weather Data/'
file_name = 'W1.csv'
file_path = os.path.join(directory, file_name)

# Load the DataFrame from the pickle file
df_W1 = pd.read_csv(file_path)

In [4]:
df_W1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274751 entries, 0 to 274750
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Time             274751 non-null  object
 1   Temperature(F)   274751 non-null  float64
 2   Dew Point(F)     274751 non-null  float64
 3   Humidity(%)      274751 non-null  float64
 4   Wind             274751 non-null  object
 5   Wind Speed(mph)  274751 non-null  float64
 6   Wind Gust(mph)   274751 non-null  float64
 7   Pressure(in)     274751 non-null  float64
 8   Condition        274751 non-null  object
dtypes: float64(6), object(3)
memory usage: 18.9+ MB

In [ ]:
#Inspect single column of DataFrame - unique values
df_W1.Condition.unique()

array(['Fair', 'Fog', 'Haze', 'Mostly Cloudy', 'Light Rain', 'Cloudy',
       'Partly Cloudy', 'Rain', 'Fair / Windy', 'Drizzle',
       'Light Drizzle', 'Mist', 'Light Rain Shower', 'Rain Shower',
       'Heavy Rain Shower', 'Light Rain / Windy', 'Mostly Cloudy / Windy',
       'Light Rain with Thunder', 'Heavy Rain', 'Heavy T-Storm',
       'Thunder', 'T-Storm', 'T-Storm / Windy', 'Showers in the Vicinity',
       'Thunder / Windy', 'Heavy T-Storm / Windy',
       'Partly Cloudy / Windy', 'Cloudy / Windy', 'Sleet', 'Light Sleet',
       'Smoke', 'Light Rain Shower / Windy', 'Rain Shower / Windy',
       'Squalls / Windy', 'Thunder in the Vicinity',
       'Heavy Rain Shower / Windy', 'Rain / Windy', 'Shallow Fog',
       'Heavy Rain / Windy', 'Blowing Dust / Windy', 'Squalls',
       'Blowing Dust', 'Blowing Sand / Windy'], dtype=object)

In [5]:
#Descriptive statistics for numeric columns
df_W1.describe()

       Temperature(F)   Dew Point(F)    Humidity(%)  Wind Speed(mph)  Wind Gust(mph)   Pressure(in)
count   274751.000000  274751.000000  274751.000000    274751.000000   274751.000000  274751.000000
mean        74.908777      63.846576      70.749951         6.152438        0.182706      29.847932
std         11.859825      13.356522      17.265798         3.964382        1.971286       0.365165
min         35.580000       0.980000      11.960000         0.000000        0.000000      28.550000
25%         66.460000      54.690000      59.340000         3.035000        0.000000      29.580000
50%         77.080000      67.330000      73.020000         4.590000        0.000000      29.840000
75%         83.240000      74.860000      83.930000         8.900000        0.000000      30.110000
max        105.280000      85.400000     102.000000        38.450000       53.610000      31.250000

In [2]:
df = df_W1.copy()

### W1 = CT1
take file name remove extension  add additional column name

In [3]:
# Remove the .csv extension
location_name = os.path.splitext(file_name)[0]
# change received W1 to CT1
city_name = location_name.replace(location_name, 'CT1')  # 'CT1'
df['City'] = city_name
print(df.head())

                  Time  Temperature(F)  Dew Point(F)  Humidity(%)  Wind  \
0  2015-01-01 00:00:00          53.170         39.22        59.12  CALM
1  2015-01-01 00:15:00          52.735         39.14        60.90  CALM
2  2015-01-01 00:30:00          52.300         39.06        62.68   ESE
3  2015-01-01 00:45:00          53.395         39.06        59.82   ESE
4  2015-01-01 01:00:00          54.490         39.05        56.97   VAR

   Wind Speed(mph)  Wind Gust(mph)  Pressure(in) Condition City
0            0.000             0.0         30.14      Fair  CT1
1            1.970             0.0         29.89      Fair  CT1
2            3.940             0.0         29.64      Fair  CT1
3            2.955             0.0         29.70      Fair  CT1
4            1.970             0.0         29.76      Fair  CT1

In [4]:
# Prepare final df
selected_columns = [
    'Time',
    'Temperature(F)',
    'Dew Point(F)',
    'Humidity(%)',
    'Wind Speed(mph)',
    'Pressure(in)',
    'City'
]
df_weather_CT1 = df[selected_columns].copy()
print(df_weather_CT1.head())

                  Time  Temperature(F)  Dew Point(F)  Humidity(%)  \
0  2015-01-01 00:00:00          53.170         39.22        59.12
1  2015-01-01 00:15:00          52.735         39.14        60.90
2  2015-01-01 00:30:00          52.300         39.06        62.68
3  2015-01-01 00:45:00          53.395         39.06        59.82
4  2015-01-01 01:00:00          54.490         39.05        56.97

   Wind Speed(mph)  Pressure(in) City
0            0.000         30.14  CT1
1            1.970         29.89  CT1
2            3.940         29.64  CT1
3            2.955         29.70  CT1
4            1.970         29.76  CT1

In [9]:
df_weather_CT1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274751 entries, 0 to 274750
Data columns (total 7 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Time             274751 non-null  object
 1   Temperature(F)   274751 non-null  float64
 2   Dew Point(F)     274751 non-null  float64
 3   Humidity(%)      274751 non-null  float64
 4   Wind Speed(mph)  274751 non-null  float64
 5   Pressure(in)     274751 non-null  float64
 6   City             274751 non-null  object
dtypes: float64(5), object(2)
memory usage: 14.7+ MB

In [6]:
def f_fromFtoC(x):
    return (x - 32) / 1.8

df_weather_CT1['Temperature(C)'] = df_weather_CT1['Temperature(F)'].apply(f_fromFtoC)

In [7]:
df_weather_CT1.drop('Temperature(F)', axis = 1, inplace=True)
df_weather_CT1['Temperature(C)'] = df_weather_CT1['Temperature(C)'].round(2)

In [8]:
import os
import pandas as pd

# to write file
directory = r'C:/Users/dmarc/Desktop/EWELD_Project/EWELD/'
file_path = os.path.join(directory, 'weather_CT1_Celsius.csv')

# Create the directory if it does not exist
os.makedirs(directory, exist_ok=True)

# Save the DataFrame to a CSV file (without the index column)
df_weather_CT1.to_csv(file_path, index=False)